        .par1 {
            font-size:16px
        }
        .polecenie4 {
            background-color: forestgreen
        }
        #inwokacja {
            background: yellow;
        }
        div {
            background: red;
        }
        .Tadeusz {
            background: blue !important
        }